
<label for="user_street_address">Street address</label>
<input type="text" name="user[street_address]" value="<%= @user.street_address %>" placeholder="">

<label for="user_city">City</label>
<input type="text" name="user[city]" value="<%= @user.city %>" placeholder="">

<label for="user_state">State</label>
<input type="text" name="user[state]" value="<%= @user.state %>" placeholder="">

<label for="user_zip">Zip code</label>
<input type="text" name="user[zip]" value="<%= @user.zip %>" placeholder="">

<label for="user_phone_number">Phone number</label>
<input type="text" name="user[phone_number]" value="<%= @user.phone_number %>" placeholder="">

<!-- <span class="error"><%= @error %></span> -->
<input type="submit" value="Submit">
