
<div id="form-container">
  <a href="/users/<%= @user.id %>/edit">Edit Info</a>
  <h1><%= @user.name %></h1>
  <img src="<%= @user.photo_link %>" >
  <h2><%= @user.email %></h2>

  <address>
    <p><%= @user.street_address %></p>
    <p><%= @user.city %>, <%= @user.state %></p>
    <p><%= @user.zip %></p>
  </address>

  <p><%= @user.phone_number %></p>
</div>

<!-- <span class="error"><%= @error %></span> -->
